@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLUYELER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ÜYE ID</th>
        <th>ÜYE ADI</th>
        <th>ÜYE SOYADI</th>
        <th>OKUL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>KİTAP GEÇMİŞİ</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.AD</td>
            <td>@item.SOYAD</td>
            <td>@item.OKUL</td>
            <td><a href="/Uyeler/UyeSil/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Uyeler/UyeGetir/@item.Id" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Uyeler/UyeKitapGecmis/@item.Id" class="btn btn-success" style="background-color:lightseagreen">Kitap Geçmişi</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Uyeler/UyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>


